/*
WPZA Website Maintenance Services
https://wpza.co.za
*/
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #e3e3e3 !important;
    color: #4D4D4D;
    padding-top:60px;
}
.wpza-logo {
    
    max-width: 450px;
margin-top: 15px;
}
h1 {
    font-size: 38px;
    margin-bottom: 22px;
}
a {
    color: #CC3333;
}
footer {
    margin-top:30px;
}
/* Last Line of style */